/* FONTS */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
  font-family: Permanent Marker;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}

/* animação titulo */
.flip-animate {
  color: #202731;
  text-decoration: none;
  transition: color 0.3s;
  outline: none;
  height: 10px;
  display: inline-block;
  box-sizing:border-box;
}

.flip-animate:hover,
.flip-animate:focus {
  color: #202731;
}

.flip-animate {
  perspective: 1000px;
  
  span {
    position: relative;
    display: inline-block;
    padding: 0;    
    transition: transform 0.5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
  
  span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
  }
  
  &:hover span,
  &:focus span {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  &:hover span:before,
  &:focus span:before {
    color: white;
  }


}
 /* deixa o subtitulo embaixo nao sei pq sem nao funciona */
.subTitle {
  padding-top: 300px; 
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding:  100px 20vw;
}

/* define as carac da section first */
.first {
  background: #76ABAE;
  color: black; 
  padding: 175px;
}

.first h1 {
  font-size: 7rem;
}

.second {
  background: #76ABAE;
}

.second img {
  width: 10%;
  bottom: 10px;
  position: absolute;
  right: 0px;
  user-select: none;
  caret-color: transparent;
}

.third {
  background-color:#202731;
  padding: 80px;
  padding-bottom: 10px;
}

/* lista estudos */
ul {
  list-style-type: none;
  margin-left: 570px;
  font-family: Permanent Marker;
  font-size: 40px;
  white-space: nowrap;
  
}

li {
  line-height: 3rem;
  text-align: center;
  line-height: 10rem;
  padding: 0;
}
/* blob animation */

.blob-motion {
  position: absolute;
  transform: translateY(-10%);
  transform: translateX(-35%);
  z-index: 0 ;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url('./blobs.svg') no-repeat bottom / cover;
}

/* experiencias */
.exp {
  display: flex;
  justify-content: space-around;
 
  margin-left: -165px;
  font-family: 'Prompt', sans-serif;
  
}
.exp li {
  padding: 60px;
  font-family: Permanent Marker;
}



/* loader na experiencias */
.loader {
  margin-top: 65px;
  margin-left: 100px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}


.fourth {
  background-color: #76ABAE;
  padding-top: 500px;
}

.fourth h1 {
  position: absolute;
  text-align: center;
  margin-left: 100px;
  top: 300px;
}

 footer {
  
  padding: 50px;
  
}

textarea {
  resize: none;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons .fa-whatsapp, .fa-github, .fa-linkedin, .envelope, {
font-size:25px;
}


.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
background: #202731;
border-color: #fefefe;
}



.rounded-social-buttons .social-button.whatsapp:hover, .rounded-social-buttons .social-button.whatsapp:focus {
color: #25D366;

border-color: #25D366;
}
  

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;

border-color: #007bb5;
}

.rounded-social-buttons .social-button.envelope:hover,
.rounded-social-buttons .social-button.envelope:focus {
    
    
    border-color: #fefefe;
}