/* FONTS */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  color: white;
  background: #202731;
  overflow-x: hidden;
  font-family: Permanent Marker;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}

/* animação titulo */
.flip-animate {
  color: #202731;
  text-decoration: none;
  transition: color 0.3s;
  outline: none;
  height: 10px;
  display: inline-block;
  box-sizing:border-box;
}

.flip-animate:hover,
.flip-animate:focus {
  color: #202731;
}

.flip-animate {
  perspective: 1000px;
  
  span {
    position: relative;
    display: inline-block;
    padding: 0;    
    transition: transform 0.5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
  
  span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
  }
  
  &:hover span,
  &:focus span {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  &:hover span:before,
  &:focus span:before {
    color: white;
  }


}
 /* deixa o subtitulo embaixo nao sei pq sem nao funciona */
.subTitle {
  padding-top: 300px; 
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding:  100px 20vw;
}

/* define as carac da section first */
.first {
  background: #76ABAE;
  color: black; 
  padding: 175px;
}

.first h1 {
  font-size: 7rem;
}

.second {
  background: #76ABAE;
}

.second img {
  width: 10%;
  bottom: 10px;
  position: absolute;
  right: 0px;
  user-select: none;
  caret-color: transparent;
}

.third {
  background-color:#202731;
  padding: 80px;
  padding-bottom: 10px;
}

/* lista estudos */
ul {
  list-style-type: none;
  margin-left: 570px;
  font-family: Permanent Marker;
  font-size: 40px;
  white-space: nowrap;
  
}

li {
  line-height: 3rem;
  text-align: center;
  line-height: 10rem;
  padding: 0;
}
/* blob animation */



/* experiencias */
.exp {
  display: flex;
  justify-content: space-around;
 
  margin-left: -165px;
  font-family: 'Prompt', sans-serif;
  
}
.exp li {
  padding: 60px;
  font-family: Permanent Marker;
}



/* loader na experiencias */
.loader {
  margin-top: 65px;
  margin-left: 100px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}

.fourth h1 {
  text-align: center;
  overflow: auto;
}

.whiskey-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  padding: 48px 48px 0 48px;

}

.whiskey-cards::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

.whiskey-cards::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, .5);
  background: linear-gradient(90deg, #02bcf5, #0073e6, #003ab9, #635bff);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  border-radius: 16px;
  opacity: .5;
}

.whiskey-cards:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.whiskey-card {
  display: flex;
  flex-direction: column;
  min-width: 244px;
  flex-basis: 244px;
  border-radius: 16px;
  margin: 8px;
  padding: 16px;
  box-shadow: 0 -16px 24px rgb(0 0 0 / 5%);
  color: #ffffff;

  transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.whiskey-card:hover {
  background-color: #0a2540 !important;
  transform: scale(1.04) translateY(-16px);
  box-shadow: 0 -16px 24px rgb(0 0 0 / 10%);
}

.whiskey-card h3 {
  padding-top: 0;
  line-height: 1.35;
}

.whiskey-card .whiskey-card--content {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 300;
}

.whiskey-card .whiskey-card--content img {
  max-width: 100%;
}

.whiskey-card .whiskey-card--link {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
  opacity: .7;
  margin: auto 0 0 0;
}

.whiskey-card h3 a,
.whiskey-card .whiskey-card--link a {
  color: #ffffff;
}

.whiskey-card .whiskey-card--link a svg {
  --arrowSpacing: 5px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  --arrowTipTransform: none;
  --arrowLineOpacity: 0;
  position: relative;
  top: 1px;
  margin-left: var(--arrowSpacing);
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}

.HoverArrow__linePath {
  opacity: var(--arrowLineOpacity);
  transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}

.HoverArrow__tipPath {
  transform: var(--arrowTipTransform);
  transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}

.whiskey-card:hover .HoverArrow__linePath {
  --arrowLineOpacity: 1;
}

.whiskey-card:hover .HoverArrow__tipPath {
  --arrowTipTransform: var(--arrowHoverOffset);
}


.fifth {
  background-color: #76ABAE;
  padding-top: 500px;
}

.fifth h1 {
  position: absolute;
  text-align: center;
  margin-left: 100px;
  top: 300px;
}

 footer {
  
  padding: 50px;
  
}

textarea {
  resize: none;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}



.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}


.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
background: #202731;
border-color: #fefefe;
}



.rounded-social-buttons .social-button.whatsapp:hover, .rounded-social-buttons .social-button.whatsapp:focus {
color: #25D366;

border-color: #25D366;
}
  

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;

border-color: #007bb5;
}

.rounded-social-buttons .social-button.envelope:hover,
.rounded-social-buttons .social-button.envelope:focus {
    
    
    border-color: #fefefe;
}

.formContato {
  text-align: center;
}

.formContato form {
  display: grid;
  width: calc(100% - 70%);
  margin: auto auto;
  grid-column-gap: 20px; 
  margin-bottom: 20px;
  
}

#Nome , #Email , #Telefone, #Enviar {
  border: solid black;
  border-radius: 5px;
  height: 35px;
  font-family: Permanent Marker;
  font-size: 15px;
  text-align: center;
}

#Enviar {
  background-color: #76ABAE;
  border-radius: 10px;
  font-family: Permanent Marker;
  font-size: 15px;
}

input[type="submit"]{
  border: solid black;
  border-radius: 5px;
  height: 35px;
  font-family: Permanent Marker;
  font-size: 15px;
  text-align: center;
  background-color: #76ABAE;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #598083;
}

.buttonEnviarContato:hover {
    color: white; }

/* Media Queries */

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  .first h1 {
    font-size: 7rem;
  }
}

@media (max-width: 899px) {
  .first h1 {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .first h1 {
    font-size: 5rem;
  }
}

/* @media (max-width: 1200px) {
  .subTitle {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .subTitle {
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start:none;
    margin-inline-end: none;
  }
}

@media (max-width: 480px) {
  .subTitle {
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start:none;
    margin-inline-end: none;
    
  }
} */

@media (max-width: 1200px) {
  .third {
    display: flex;
flex-direction: row;
align-items: center;
  }
  ul {order:1;}
  .blob-motion{
    order:2;
  }
  
}

@media (max-width: 899px) {
  .third {
    display: flex;
flex-direction: row;
align-items: center;
  }
  ul {
    order:1;}
  .blob-motion{
    order:2;
  }
  
}

@media (max-width: 480px) {
  
  .third {
    display: flex;
flex-direction: row-reverse;
align-items: center;
  }
   
  
}
@media (max-width: 1200px) {
  .third ul {
    font-size: 6rem;

  }
}

@media (max-width: 899px) {
  .third ul {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .third {
    display: flex;
    flex-direction: column; /* Flex direction column to stack items vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 50vh; /* Ensures the container takes full height of the viewport */
  }
  
  .third ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-size: 1.2rem;
    order: 1;
  }
  .thirdWave{
    order: 0;
  }
  .blob-motion{
    order: 2;
  }
}
